# Core backend
fastapi
uvicorn[standard]==0.40.0
pydantic==2.12.5
pydantic-settings==2.12.0
httpx
aiofiles==25.1.0
python-multipart==0.0.21
python-dotenv==1.2.1

# ML / Audio
torch==2.9.1
transformers==4.57.3
sentencepiece==0.2.1
faster-whisper==1.2.1

# FFmpeg Python wrapper
ffmpeg-python==0.2.0
